@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	height: 100%;
	margin: 0;

	@apply font-sans;
}

div#root {
	height: 100%;
}

.content-wrapper {
	@apply pl-8 pr-4 py-4 flex-col flex flex-auto;
}

.simple-search-box {
	@apply p-3 pl-1 pb-1 border-slate-300 border-0 border-b-2;
}

.simple-search-box:focus {
	@apply outline-none;
}

/* width */
::-webkit-scrollbar {
	height: 7px;
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track-piece {
	background: #f5f5f5;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
